
  
  .multi-label {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: large;
  }
  
  .multi-label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  
  .multi-input {
    display: none;
  }
  
  .multi-img {
    height: 160px;
    width: 200px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
  }
  
  .images {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
  
  .image {
    margin: 1rem 0.5rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  
  .image button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(66, 63, 63);
    border-radius: 5px;
  }
  
  .image button:hover {
    background-color: red;
    border-radius: 5px;
  }
  
  .image p {
    padding: 0 0.5rem;
    margin: 0;
  }
  
  .upload-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    /* margin: 0 auto; */
    border: none;
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: green;
  }
  
  .multi-label:hover,
  .upload-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .error {
    text-align: center;
  }
  
  .error span {
    color: red;
  }
  .editor-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
  }
  
  /* Style the text within the editor */
  .public-DraftEditor-content {
    min-height: 100px; /* Adjust the height as needed */
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Customize the toolbar styles if needed */
  .rdw-editor-toolbar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: small;
  }

  .editor-container img {
    width: auto!important;
    height: 100%!important;
  }

  .rdw-dropdown-selectedtext {
    text-decoration: none;
  }

  .rdw-dropdown-selectedtext:hover {
    text-decoration: none;
  }

  