/* CustomSidebar.css */

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: rgb(245, 99, 99);
}

.sidebar-icon {
    font-size: 18px;
    margin-right: 10px;
}

.sidebar-title {
    font-size: 14px;
}


.custom-sidebar {
    border-radius: 0.5rem;
    width: auto;
    height: calc(100% - 80px);
    padding: 10px;
    z-index: 100;
    position: fixed;
    bottom: 2px;


    background: rgb(14, 0, 255);
    background: linear-gradient(152deg, rgba(14, 0, 255, 1) 0%, rgba(0, 0, 173, 1) 35%, rgba(0, 212, 255, 1) 100%);
    overflow-y: auto;
    align-items: center;
}

.open {
    width: 12.5rem;
    z-index: 999;
}

.nav-logo {
    width: 10rem;
}

.navbar-container-open {
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    padding: 0 1rem;

}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 6.5rem;
    padding: 0 1rem;

}

.sidebar-icon-only {
    font-size: 18px;
    margin: 0.1rem 0;
}

.custom-sidebar:not(.open) .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-title {
    align-items: center;
    height: 5rem;
}