.my-login-input-container {
    height: 2.3rem;
}

.my-login-input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;

    /* padding: 0.5rem; */
}

.my-login-input:focus {
    outline: none;
}

login-input::placeholder {
    font-size: 14px; /* Adjust the font size as needed */
  }