.modal-dialog {
    max-width: 80vw !important;
}

.addBtn{
    background-color: #0F52BA;
    margin-bottom: 0.5rem;
}

.agent-table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-container{
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* .open-container{
    max-width: 1300px !important;
    width: 100% ;
    margin-left: 2rem;
}

.container-agent{
    background-color: aqua;
    width: 100%;
    max-width: 100%;
} */
