/* Sidebar.css */
.sidebar-menu-item {
    display: flex;
    align-items: center;
}

.sidebar-divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 10px 0;
}

.cdb-sidebar.cdb-sidebar-closed {
    overflow: hidden;
}
