/* TopNavBar.css */

.navbar .nav-link.dropdown-toggle::after {
    display: none;
}

.profile-picture {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.hamburger-icon {
    cursor: pointer;
    margin-right: 10px;
}

.nav-py{
    padding: 0.8rem 0 ;
    position: fixed;
    top: 0;
    width: calc(100% - 13.5rem);
    left: 13.5rem;
}

.nav-pl{
    padding-left: 10rem;
}

.toggle-button{
    cursor: pointer;
    margin-right: 1rem;
}

.zIndex{
    z-index: 100;
}



/* .navbar-open {
   width: calc(100% - 12.5rem);
}
.navbar-close {
   width: calc(100% - 6.5rem);
} */