/* TopNavBar.css */

.navbar .nav-link.dropdown-toggle::after {
    display: none;
}

.profile-picture {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.nav-title{
    margin-left: 1.8rem;
}

.hamburger-icon {
    cursor: pointer;
    margin-right: 10px;
}

.nav-py{
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
}

/* .nav-pl{
    padding-left: 10rem;
} */

.toggle-button{
    cursor: pointer;
    margin-right: 1rem;
}

.zIndex{
    z-index: 100;
}

.nav-logo{
    display: flex;
    width: 20rem!important;
    align-items: center;
    margin-left: 1.8rem!important;
}

.nav-logo:hover{
    text-decoration: none!important;
}

.logo-img{
    width:2.5rem;
    object-fit: contain;
}
.logo-text-container{
    font-size: 1rem;
    font-weight: 500;
    color: #0F52BA;
}

.navbar{
         --bs-navbar-padding-y: 0;
         background-color: #ebedfb;
}


/* .navbar-open {
   width: calc(100% - 12.5rem);
}
.navbar-close {
   width: calc(100% - 6.5rem);
} */